.background
  position: absolute
  padding-top: 20px
.offer-detail
  display: grid
  grid-template-columns: 30% 70%
  grid-auto-rows: min-content
  background: linear-gradient(to right, #beedf3 30%, white 30%)
  position: relative
  overflow-y: auto
  will-change: transform
  &::-webkit-scrollbar
    width: 12px
    &::-webkit-scrollbar-thumb
      background-color: rgb(173, 175, 180)
      border-radius: 20px
      height: 20px
  .row
    display: flex
    flex-direction: row
    align-items: center
    word-wrap: break-word
  .column
    display: flex
    flex-direction: column
    align-items: flex-end
    color: rgb(255, 255, 255)
    margin-right: 10px
  .blue-left-side
    .photo
      margin-top: 20px
      height: 170px
      width: 170px
      border-radius: 50%
      margin-bottom: 20px
    .row-name
      margin-top: 0
      letter-spacing: 5px
      color: white
  .white-right-side
    margin-left: 20px
    margin-right: 20px
    .upper
      color: #7c7cf1
      font-family: "Century Gothic", monospace
      text-transform: uppercase
      font-weight: 700
    .cv-head
      margin-top: 40px
      display: flex
      justify-content: flex-start
      font-size: 46px
      font-weight: bold
      font-family: Century Gothic, serif
    .description
      font-size: 16px
      font-family: Arial, serif
      text-align: left
    .contact-data
      display: flex
      flex-direction: column
      text-align: left
.margin
  margin-bottom: 50px

