.form-root
  height: inherit
  width: inherit
  background-color: #434e5e
  display: flex
  justify-content: center
  align-items: center
  .form-content
    max-width: 480px
    width: 100%
    padding: 30px
    border-radius: 5px
    background-color: #edf4ff
    .form
      display: flex
      flex-direction: column
    .form-error
      color: #ea2929
      margin-bottom: 10px
      font-size: 14px
    .form-header
      margin-top: 0
    .form-control-area
      display: flex
      flex-direction: column